{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
      "eqeqeq": "error",
      "no-var": "error",
      "semi": ["error", "always"]
  }
}
